
			<!-- Gigantic Heading -->
				<section class="wrapper style2">
					<div class="container">
						<header class="major">
							<h2>Welcome <%=@user[:first_name]%> <%=@user[:last_name]%></h2>
							<p><%=@user[:username]%></p>
							<%= image_tag @user.avatar.url(:medium), :class => 'avatar'%>
						</header>
					</div>
				</section>

<section class="wrapper style">
					<div class="profilecontainer">
						<div class="row 200%">
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3>Pending Challenges</h3>
									<p>
									<% if @pending_challenges.empty? %>You have no pending challenges <br/><%end%>
									<ol>
									<% @pending_challenges.each do |challenge| %>
									<li>
									<%= User.find(challenge.challenger_id).username %> vs <%= User.find(challenge.challengee_id).username %><br />
									Challenge: <%=challenge[:challenge_description]%><br />
										<% if challenge[:challengee_id] == current_user.id %>
										<%= button_to "Accept this Challenge", "/challenges/#{challenge.id}/edit" %><br /> <%= button_to "Decline this challenge", destroy_path(challenge), :method => "delete" %>
										<% else %>
										Waiting for <%= User.find(challenge[:challengee_id]).username %> to accept
										<%end%>
									</li>
									<%end%>
									</ol></p>
									
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3>Active Challenges</h3>
									<p><% if @active_challenges.empty? %>You have no active challenges<br /> <%end%>
										<ol>
										<% @active_challenges.each do |challenge| #to do - accomodate for empty, display You have no challenges %>
										<li>
										<%= User.find(challenge.challenger_id).username %> ($<%=number_with_precision(challenge.challenger_funds, :precision => 2)%>) <br />vs<br /> <%= User.find(challenge.challengee_id).username %> ($<%=number_with_precision(challenge.challengee_funds, :precision =>2)%>)<br /> Challenge: <%=challenge[:challenge_description]%> <br />Today is day <%=challenge[:current_day]%> of <%=challenge[:total_days]%><br />
											<%= button_to "View this Challenge", "/challenges/#{challenge.id}", :method => 'get' %><br />
											<% if current_user.id == challenge[:challenger_id] && !challenge[:challenger_task] %>
											<%= button_to "I completed my challenge today!", complete_path(challenge), :method => "put" %>
											<% elsif current_user.id == challenge[:challengee_id] && !challenge[:challengee_task] %>
											<%= button_to "I completed my challenge today!", complete_path(challenge), :method => "put" %>
											<% else %> 
											Daily challenge completed - <br />good work! 
											<% end %>
										</li>
									<%end%>
									</ol></p>
								</div>
							</section>
							<section class="4u 12u(narrower)">
								<div class="box highlight">
									
									<h3>Completed Challenges</h3>
									<p><% if @completed_challenges.empty? %>You have no completed challenges <br /><%end%>
										<ol>
										<% @completed_challenges.each do |challenge| %>
										<li>
										<%= User.find(challenge.challenger_id).username %> vs <%= User.find(challenge.challengee_id).username %><br />
										</li>
									<%end%>
								</ol></p>
								</div>
							</section>
						</div>
					</div>
				</section>

