<div class='form'>
<div class = "form-challenge">
<div class="container">
<br /><br />
<h7>Accept your Challenge:</h7><br /><br />



<p><%= image_tag User.find(@challenge[:challenger_id]).avatar.url(:medium), :class => 'avatar'%><h8> vs </h8>h8> <%= image_tag User.find(@challenge[:challengee_id]).avatar.url(:medium), :class => 'avatar'%><br />
<%=User.find(@challenge[:challenger_id]).username %> vs <%= User.find(@challenge[:challengee_id]).username %><br />
<br />
Challenge: <%=@challenge[:challenge_description]%><br />
<br />
 <%= User.find(@challenge[:challenger_id])[:username] %>'s charity: <%= Charity.find(@challenge[:challenger_charity_id]).name %>
 <br />

</p>
 To accept this challenge, please pick another Charity!
 <br />
 <br />

 <%= form_for @challenge do |f| %>
  <%= f.select(:challengee_charity_id, @charities) %> <br />
  <br/>
  <%= f.submit %>
  <%end%>
 </div>
 </div>
 </div>