<div class='page'>
<div class = "form-challenge">
<div class="container">
<h4>Accept your Challenge:</h4>
<div class='form'>
<p><%=User.find(@challenge[:challenger_id]).username %> vs <%= User.find(@challenge[:challengee_id]).username %><br />
<br />
Challenge: <%=@challenge[:challenge_description]%><br />
<br />
 <%= User.find(@challenge[:challenger_id])[:username] %>'s charity: <%= Charity.find(@challenge[:challenger_charity_id]).name %>
 <br />

</p>
 To accept this challenge, please pick another Charity!
 <br />
 <br />

 <%= form_for @challenge do |f| %>
  <%= f.select(:challengee_charity_id, @charities) %> <br />
  <br/>
  <%= f.submit %>
  <%end%>
 </div>
 </div>
 </div>
 </div>