<div id="header">

          <!-- Logo -->
            <h1><a href="index.html" id="logo">CharityChallenger <em></em></a></h1>

            <!-- <div style="font-family: 'Philosopher', sans-serif;"><font size = "84" color = "#37c0fb">CharityChallenger</font></div> -->

          <!-- Nav -->
            <nav id="nav">
              <ul>
                <% if user_signed_in? %>
                  
                  <li class="current"><a href=<%=root_path%>>Home</a></li>
                  <li><a href="<%="/users/#{current_user.id}"%>">My Profile</a></li>
                  <li><a href="<%=edit_user_registration_path%>">Edit Account</a></li>
                  <li><a href="/challenges/new">Create A New Challenge</a></li>
                  <li>Signed in as <%=current_user[:username]%></li>
                  <li><%=link_to 'Sign Out', destroy_user_session_path, :method => 'DELETE' %></li>
                <% else %>
                  <li><%=link_to 'Sign Up', new_user_registration_path%></li>
                      <li><a>Already Have An Account?</a></li>
                      <li><%=link_to 'Sign In', new_user_session_path %></li>
                <% end %>
              </ul>
            </nav>

        </div>
<div class = "form">
  <div class="container">
  <br/><br/>
    <h7>Create a New Challenge</h7>
  <br/><br/>

    <p>

<div class="container">

<%= form_for @challenge do |f| %>
	Pick a User to Challenge:

  <%= f.select( :challengee_id, @users) %> <br />
 <br />


  <%= f.label "Enter a challenge description:" %>
  <%= f.text_field :challenge_description %><br />


  <%= f.label "Number of days:" %>
  <%= f.text_field :total_days, id: "num-days-input" %><br />


  Pick a Charity:
  <%= f.select( :challenger_charity_id, @charities) %> <br />
  <br />

  
  <%= f.submit %>
   <% end %>

  

  </p>
</div>
</div>
</div>


  
  