
<div class = "form-challenge">
  <div class="container">
    <h4>Create a New Challenge</h4>
    <p>

<div class="container">

<%= form_for @challenge do |f| %>
	Pick a User to Challenge:
  <%= f.select( :challengee_id, @users) %> <br />
  <br />

  <%= f.label "Enter a challenge description" %>:
  <%= f.text_field :challenge_description %><br />
<br />

  <%= f.label "Number of days" %>:
  <%= f.text_field :total_days, id: "num-days-input" %><br />
<br />

  Pick a Charity:
  <%= f.select( :challenger_charity_id, @charities) %> <br />
<br />
  
  <%= f.submit %>
   <% end %>

  </p>
</div>
</div>

</div>

  
  