<head> 
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<div class="form">
<body>
<div class="container">
<br /><br />
<h7>View My Challenge</h7><br /><br />

<p><%= image_tag User.find(@challenge[:challenger_id]).avatar.url(:medium), :class => 'avatar'%> <h8>vs</h8> <%= image_tag User.find(@challenge[:challengee_id]).avatar.url(:medium), :class => 'avatar'%><br />
<%=User.find(@challenge[:challenger_id]).username %> vs <%= User.find(@challenge[:challengee_id]).username %><br />
<br />
Challenge: <%=@challenge[:challenge_description]%><br />
<br />
My Charity: <% if current_user.id == @challenge[:challenger_id] %>
 <%= Charity.find(@challenge[:challenger_charity_id]).name %><br />
 <br />
  <% if @challenge[:challenger_charity_id].nil? %>
  <%= User.find(@challenge[:challengee_id])[:username]%> has not yet picked a challenge
  <%else%> 
  <%= User.find(@challenge[:challengee_id])[:username] %>'s Charity: <%= Charity.find(@challenge[:challenger_charity_id]).name %> 
  <%end%>
 <% else %> 
 <%= Charity.find(@challenge[:challengee_charity_id]).name %> <br />
 <br />
 <%= User.find(@challenge[:challenger_id])[:username] %>'s challenge: <%= Charity.find(@challenge[:challenger_charity_id]).name %>
 <%end%>
</p>

<div id="container" style="width:80%; height:400px; margin: 0px auto;"></div>

<script> 
$(function() {
    Highcharts.setOptions({
        chart: {
            backgroundColor: {
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgba(55, 192, 251, .1)'],
                    [1, 'rgba(55, 192, 251, .5)']
                    ]
            },
            borderWidth: 2,
            borderRadius: '10px',
            borderColor: '#2b2b2b',
            plotBackgroundColor: 'rgba(255, 255, 255, .9)',
            plotShadow: true,
            plotBorderWidth: 1
           
        }
    });
    
    var chart1 = new Highcharts.Chart({
        chart: {
            renderTo: 'container',
            type: 'column'
        },
		title: {
            text: '<%=@challenge[:challenge_description]%>'
        },
        colors: [
                'rgba(45,45,45,.5)'
            ],
        xAxis: {
            categories: ['<%=User.find(@challenge[:challenger_id])[:username]%>', '<%=User.find(@challenge[:challengee_id])[:username]%>', 'total']
        },
        yAxis: {
            title: {
                text: 'Money Raised'
            }
        },
        series: [{
            name: 'My Challenge',
            data: [<%=@challenge[:challenger_funds]%>, <%=@challenge[:challengee_funds]%>, <%=@challenge[:challenger_funds] + @challenge[:challengee_funds]%>]
        }],
    });
});
</script>


</div>
</body>
</div>