<!DOCTYPE html>
<html>


<head>
  <title>CharityChallenger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <link href='http://fonts.googleapis.com/css?family=Philosopher:400,700' rel='stylesheet' type='text/css'> -->
</head>

<body>

<%= yield %>



<div class="alert"><%= notice %></div>
<div class="notice"><%= alert %></div>
</body>


</html>
